{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        {% for post in posts %}
            <div class="card">
                <div class="card-header">
                    <img src="{{ post.image.url }}" alt="" />
                </div>
                <div class="card-body">
                    <span class="tag tag-purple">Place</span>
                    <h4>{{ post.title }}</h4>
                    <p>{{ post.content }}</p>
                    <div class="user">
                        <img src="{{ post.user.image.url }}" alt="" />
                        <div class="user-info">
                          <h5>{{ post.user.username }}</h5>
                          <small>{{ post.created_at }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>
